<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net471" />
  <package id="EntityFramework6.Npgsql" version="3.2.0" targetFramework="net471" />
  <package id="FSharp.Core" version="4.6.2" targetFramework="net471" />
  <package id="FSharp.Data" version="3.1.1" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.2" targetFramework="net471" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.2" targetFramework="net471" />
  <package id="Microsoft.AspNet.SignalR.Core" version="2.4.1" targetFramework="net471" />
  <package id="Microsoft.Azure.KeyVault" version="3.0.3" targetFramework="net471" />
  <package id="Microsoft.Azure.KeyVault.Core" version="3.0.3" targetFramework="net471" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="3.0.3" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.AppService.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Batch.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.BatchAI.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Cdn.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Compute.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.ContainerInstance.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.ContainerRegistry.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.ContainerService.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.CosmosDB.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Dns.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.EventHub.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Graph.RBAC.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.KeyVault.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Locks.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Monitor.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Msi.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Network.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Redis.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.ResourceManager.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Search.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.ServiceBus.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Sql.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.Storage.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Azure.Management.TrafficManager.Fluent" version="1.22.0" targetFramework="net471" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net471" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net471" />
  <package id="Microsoft.Data.Edm" version="5.8.4" targetFramework="net471" />
  <package id="Microsoft.Data.OData" version="5.8.4" targetFramework="net471" />
  <package id="Microsoft.Data.Services" version="5.8.4" targetFramework="net471" />
  <package id="Microsoft.Data.Services.Client" version="5.8.4" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.0.5" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Logging" version="5.4.0" targetFramework="net471" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.4.0" targetFramework="net471" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net471" />
  <package id="Microsoft.Owin" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.Owin.Security" version="4.0.1" targetFramework="net471" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.20" targetFramework="net471" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net471" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.3.8" targetFramework="net471" />
  <package id="MoonMachine.Core" version="1.0.11" targetFramework="net471" />
  <package id="moonmachine.core.interop" version="1.0.3" targetFramework="net471" />
  <package id="MoonMachine.Infrastructure" version="1.0.11" targetFramework="net471" />
  <package id="MoonMachine.StrategyTemplate" version="1.0.0" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2" targetFramework="net471" />
  <package id="Npgsql" version="4.0.6" targetFramework="net471" />
  <package id="Owin" version="1.0" targetFramework="net471" />
  <package id="RandomStringGenerator4DotNet" version="1.0.0" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net471" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.5.1" targetFramework="net471" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net471" />
  <package id="System.IO" version="4.3.0" targetFramework="net471" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net471" />
  <package id="System.Management.Automation.dll" version="10.0.10586.0" targetFramework="net471" />
  <package id="System.Memory" version="4.5.3" targetFramework="net471" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net471" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net471" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net471" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net471" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net471" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net471" />
  <package id="System.Spatial" version="5.8.4" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net471" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net471" />
  <package id="TA-Lib" version="0.5.0.3" targetFramework="net471" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net471" />
  <package id="xunit" version="2.4.1" targetFramework="net471" />
  <package id="xunit.abstractions" version="2.0.3" targetFramework="net471" />
  <package id="xunit.analyzers" version="0.10.0" targetFramework="net471" />
  <package id="xunit.assert" version="2.4.1" targetFramework="net471" />
  <package id="xunit.core" version="2.4.1" targetFramework="net471" />
  <package id="xunit.extensibility.core" version="2.4.1" targetFramework="net471" />
  <package id="xunit.extensibility.execution" version="2.4.1" targetFramework="net471" />
</packages>